<%- include ('partials/header') %>
  <div class="row">
    <div class="col-md-6 mt-auto">
      <h1 class="display-4">404</h1>
      <h2 class="display-4">Page not found</h2>
    </div>
  </div>
<%- include ('partials/footer') %>
